body{
  background-color: var(--mono---white);
}
html{
  overflow: hidden;
}
.l-app{
  &__search{
    padding: var(--space--xl) 0;
    background: var(--gray---gray-100);
  }
  &__body{

  }
  &__side-nav{
    grid-area: side-nav;
    //height: calc(#{var(--app-height)} - #{var(--header--height)} );
    //min-height: calc(#{var(--app-height)} - #{var(--header--height)} );
    overflow: auto;
  }
}

