<app-header></app-header>
<div class="l-app">
  <div class="l-app__body">
    <div class="container">
      <div class="d--f ai--c p-t-24 p-b-24">
        <div class="c-badge-list">
          <eg-badge>Fantacy</eg-badge>
          <eg-badge>Romance</eg-badge>
          <eg-badge>Mystory & Dangerous</eg-badge>
          <eg-badge>Fiction</eg-badge>
        </div>
        <button egButton size="medium" color="tertiary"><eg-icon icon="filter-3-line"></eg-icon>Filters</button>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-2 m-b-36">
          <app-book-thmumbnail></app-book-thmumbnail>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 m-b-36">
          <app-book-thmumbnail></app-book-thmumbnail>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 m-b-36">
          <app-book-thmumbnail></app-book-thmumbnail>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 m-b-36">
          <app-book-thmumbnail></app-book-thmumbnail>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 m-b-36">
          <app-book-thmumbnail></app-book-thmumbnail>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 m-b-36">
          <app-book-thmumbnail></app-book-thmumbnail>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 m-b-36">
          <app-book-thmumbnail></app-book-thmumbnail>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 m-b-36">
          <app-book-thmumbnail></app-book-thmumbnail>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 m-b-36">
          <app-book-thmumbnail></app-book-thmumbnail>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 m-b-36">
          <app-book-thmumbnail></app-book-thmumbnail>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 m-b-36">
          <app-book-thmumbnail></app-book-thmumbnail>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 m-b-36">
          <app-book-thmumbnail></app-book-thmumbnail>
        </div>
      </div>
    </div>
  </div>
</div>

