<div class="l-login__right-container">
  <div class='l-login__form-container'>
    <img class='l-login__logo l-login__logo--form ' src='' alt='' >
    <div class=''>
      <h2>Login </h2>
      <p class="subdued-text">{{ 'Continue to login' }}</p>
    </div>

    <form [formGroup]="loginForm" >
      <app-form-field>
        <label >{{'Username or email' }}</label>
        <input appInputRef eg-input type="text" id="username" name="username"  required>
      </app-form-field>
      <app-form-field>
        <label >{{'Password' }}</label>
        <input appInputRef eg-input type="password" formControlName="password"  required>
      </app-form-field>

    </form>
    <div class='l-login__actions'>
      <button egButton color='primary' size="large"  type="button" (click)="login()" class="eg-btn--fill">{{'Login' }}</button>
      <button egButton color='tertiary'  size="large" class="eg-btn--fill">{{'Sign up' }}</button>
    </div>
  </div>
</div>
