.book-thumbnail{
  width: 100%;
  min-height: max-content;
  &__cover{
    display: block;
    height: 24rem;
    width: 100%;
    border-radius: var(--coner--sm);
    box-shadow: var(--shadow-sm);
  }
  &__details{
    padding: var(--space--smd) 0;
  }
}
